.root {
    width: 277px;
    height: 360px;
    padding: 20px;
    background-color: #292b32;
    border: 1px solid #292b32;
    margin-bottom: 15px ;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    border-radius: 6px;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.473);
}

.avatar {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}
.name{
    color: #ed4159;
    font-weight: 500;
    line-height: 30px;
    text-transform: uppercase;
    letter-spacing: 0.15px;
    border-radius: 5px;
    padding: 0 10px;
    text-decoration: none;
    text-align: center;
    text-shadow:0 0 5px rgb(56, 54, 54);
}

.info{
    color: #83839c;
    text-align: center;
}