.title {
  input {
    font-size: 42px;
    font-weight: 900;
  }

  div {
    &:before,
    &:after {
      display: none;
    }
  }
}

.image {
  width: 100%;
}

.tags {
  margin: 15px 15px;
}

.buttons {
  display: flex;
  margin: 15px 15px 0 0;
  button {
    margin-right: 15px;
  }
}
